KOVAN_URL="https://kovan.infura.io/v3/SECRET"
MAINNET_URL=""
ETHERSCAN_KEY=""
PRIVATE_KEY="0x0000000000000000000000000000000000000000000000000000000000000001"
HARDHAT_NETWORK="localhost"
LOCAL_ETHER_BALANCE="1000000"
CONSTRUCTOR_TOKEN_NAME="Potato"
CONSTRUCTOR_TOKEN_SYMBOL="POT"
CONSTRUCTOR_TOKEN_DECIMALS=0
# 75 gwei. must be called directly in code to override gas setting.
DEPLOY_GAS_PRICE_WEI=75000000000
# Vesting Contract Constructors
CONSTRUCTOR_VESTING_BENEFICIARIES="0x90494cA0a639Bf52E65511afF6458b9AB5eA77De"
CONSTRUCTOR_VESTING_AMOUNT="1"
CONSTRUCTOR_VESTING_PERIOD="31449600"
CONSTRUCTOR_VESTING_START="1645496542"
CONSTRUCTOR_VESTING_TOKEN="0x90494cA0a639Bf52E65511afF6458b9AB5eA77De"
CONSTRUCTOR_VESTING_CLAIM_INTERVAL="604800"